@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
}

.fonts{
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-text{
  font-family: 'Raleway', sans-serif;
  font-size: 3vh;
}

.image{
  height: 5vh;
  align-items: center;
}

.debitCardImage{
  height: 30vh;
  align-items: center;
}

.react-calendar__month-view__weekdays {
  color: gray;
}

.react-calendar__navigation button {
  font-size: 1em;
}